body{
	font-family: 'Roboto', sans-serif;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5;
	color: #000;
	background-color:#F4F4F4;
}

h1 {
    color: #000;
	text-align:center;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	margin-top: 0;
	box-sizing: border-box;
	vertical-align: text-bottom;
}

.clicktable{
	font-family: 'Roboto', sans-serif;
	font-size: 0.7rem;
	font-weight: 400;
	}

.clicktable tr:hover{
	cursor: pointer;
	color: white;

	background-color:#007377;
}


div.citationlink{
	padding-right:5%;
	text-align:right;
}

button.citationlink:hover {
	background-color:#007377;
	color:white;
}


button.citationlink {
	background-color:white;
}



div.header{
	background-color:#D88200;
	padding:10px;
	z-index: 2;
}

div.header> table{
	width:100%;
	color:white;
}

div.header> table > tbody > tr{
	font-size:15px;
}

div.header> table > tbody > tr >td{
	text-align:center;
	color:white;
}

div.header> table > tbody > tr >td >a{
	width:20%;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
}

.highlight{
	color:red;
	font-weight: bold;
}

.slidecontainer {
  width: 30%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #007377; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #007377; /* Green background */
  cursor: pointer; /* Cursor on hover */
}




